@import "variables.scss";

#brewery {
  float: right;
  margin: 10px 100px 10px 10px;
  width: 22em;
  border-style: solid;
  border-width: medium;
  border-color: $yellow;
  color: $black;
  padding: 15px;
}

#linkBtn {
  border-style: solid;
  border-radius: 5px;
  border-color: $jet;
  background-color: $yellow;
  padding: 5px;
  color: $jet;
  text-decoration: none;
}
